* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.qr-card {
  background-color: hsl(0, 0%, 100%);
  max-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  gap: 20px;
  text-align: center;
  box-shadow: 4px 4px 8px hsl(212, 45%, 89%);
}

.qr-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

h3 {
  font-weight: 700;
}
p {
  font-weight: 400;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
