* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --light-blue-bg: hsl(212, 45%, 89%);
}

body {
  background-color: var(--light-blue-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
}

.qr-card {
  background-color: hsl(0, 0%, 100%);
  max-width: 90vw;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: clamp(12px, 2vw, 24px);
  border-radius: 16px;
  gap: 1.25rem;
  text-align: center;
  filter: drop-shadow(2px 2px 4px var(--light-blue-bg));
}

.qr-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

h3 {
  font-weight: 700;
}
p {
  font-weight: 400;
  text-align: center;
  font-size: 15px;
}
