* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --light-blue-bg: hsl(212, 45%, 89%);
}

body {
  background-color: var(--light-blue-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  font-size: 1.125rem;
}

.qr-card {
  background-color: hsl(0, 0%, 100%);
  max-width: 90vw;
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: clamp(0.75rem, 2vw, 1.5rem);
  border-radius: 1rem;
  gap: 1.25rem;
  text-align: center;
  filter: drop-shadow(0.125rem 0.125rem 0.25rem var(--light-blue-bg));
}

.qr-img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

h1 {
  font-weight: 700;
  font-size: 1.3rem;
}
p {
  font-weight: 400;
  font-size: 0.938rem;
  color: hsl(216, 15%, 48%);
  text-align: center;
}
